*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
    height: 90vh;
    
}

.row{
    margin:10px 10px ;
}

.row button{
    font-weight: 700;
    border: none;
    font-size: 1rem;
    margin: 5px;
    padding: 10px;
    width: 50px;
    box-shadow: 4px 5px 5px 1px rgba(102, 51, 153, 0.276);
}

.row-1 input{
    border: none;
   width: 200px;
   height: 60px;
   background: rgba(128, 128, 128, 0.34);
   font-size: 1.4rem;
   padding: 7px;
}

.row button:hover{
    background-color: antiquewhite;

}


#equal{
    background-color: rgba(0, 0, 255, 0.24);
    color: black;
    font-weight: 900;
    /* font-size: 1rem; */
    border: none;
}
